body {
a.internal-link[data-link-state$="1" i]::before{
    content: "●---- "
}
a.internal-link[data-link-state$="2" i]::before{
    content: "●●-- "
}
a.internal-link[data-link-state$="3" i]::before{
    content: "●●● "
}
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}
